.watches__title {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 33px;
  margin: 25px auto;
  color: #4d4d4d;
}
.watches__title:after {
  content: "";
  position: absolute;
  height: 2px;
  max-width: 40.7%;
  width: 100%;
  background-color: #4d4d4d;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.watches__subtitle {
  font-family: "Chaparral Pro";
  font-style: italic;
  font-weight: normal;
  font-size: 28px;
  letter-spacing: 0.3px;
  line-height: 42px;
  margin: 54px 0 28px;
  text-align: right;
  position: relative;
}
.watches__subtitle:before {
  content: "";
  position: absolute;
  height: 2px;
  max-width: 40.7%;
  width: 100%;
  background-color: #4d4d4d;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: white;
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Chaparral Pro";
  src: url("../../../assets/fonts/ChaparralPro-Regular.eot");
  src: url("../../../assets/fonts/ChaparralPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/ChaparralPro-Regular.woff2") format("woff2"), url("../../../assets/fonts/ChaparralPro-Regular.woff") format("woff"), url("../../../assets/fonts/ChaparralPro-Regular.ttf") format("truetype"), url("../../../assets/fonts/ChaparralPro-Regular.svg#ChaparralPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-medium.eot");
  src: url("../fonts/montserrat-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-medium.woff") format("woff"), url("../fonts/montserrat-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular.eot");
  src: url("../fonts/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: inherit;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #4D4D4D;
}

.site-container {
  margin-top: 144px;
}

#content {
  max-width: 100vw;
  position: relative;
  overflow: hidden;
}

.main-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}
@media only screen and (min-width: 1600px) {
  .main-wrapper {
    max-width: 1100px;
  }
}
@media only screen and (min-width: 1020px) and (max-width: 1300px) {
  .main-wrapper {
    margin: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .main-wrapper {
    margin: 0 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1020px) {
  .main-wrapper {
    margin: 0 24px;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
}

.susy-grid {
  display: none;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="url(%23susy-svg-gradient)" width="100%" %3E%3Cdefs%3E%3ClinearGradient spreadMethod="pad" id="susy-svg-gradient" x1="0%" y1="0%" x2="100%" y2="0%"%3E%3Cstop offset="0%" style="stop-color:rgba(64, 191, 64, 0.5);" /%3E%3Cstop offset="100%" style="stop-color:rgba(159, 223, 159, 0.5);" /%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x="0" width="5.9336823735%" height="100%"/%3E%3Crect x="8.5514834206%" width="5.9336823735%" height="100%"/%3E%3Crect x="17.1029668412%" width="5.9336823735%" height="100%"/%3E%3Crect x="25.6544502618%" width="5.9336823735%" height="100%"/%3E%3Crect x="34.2059336824%" width="5.9336823735%" height="100%"/%3E%3Crect x="42.757417103%" width="5.9336823735%" height="100%"/%3E%3Crect x="51.3089005236%" width="5.9336823735%" height="100%"/%3E%3Crect x="59.8603839442%" width="5.9336823735%" height="100%"/%3E%3Crect x="68.4118673647%" width="5.9336823735%" height="100%"/%3E%3Crect x="76.9633507853%" width="5.9336823735%" height="100%"/%3E%3Crect x="85.5148342059%" width="5.9336823735%" height="100%"/%3E%3Crect x="94.0663176265%" width="5.9336823735%" height="100%"/%3E%3C/svg%3E') no-repeat scroll;
}
@media only screen and (min-width: 1020px) and (max-width: 1300px) {
  .susy-grid {
    margin: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .susy-grid {
    margin: 0 15px;
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="url(%23susy-svg-gradient)" width="100%" %3E%3Cdefs%3E%3ClinearGradient spreadMethod="pad" id="susy-svg-gradient" x1="0%" y1="0%" x2="100%" y2="0%"%3E%3Cstop offset="0%" style="stop-color:rgba(64, 191, 64, 0.5);" /%3E%3Cstop offset="100%" style="stop-color:rgba(159, 223, 159, 0.5);" /%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x="0" width="45.7971014493%" height="100%"/%3E%3Crect x="54.2028985507%" width="45.7971014493%" height="100%"/%3E%3C/svg%3E') no-repeat scroll;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1020px) {
  .susy-grid {
    margin: 0 24px;
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="url(%23susy-svg-gradient)" width="100%" %3E%3Cdefs%3E%3ClinearGradient spreadMethod="pad" id="susy-svg-gradient" x1="0%" y1="0%" x2="100%" y2="0%"%3E%3Cstop offset="0%" style="stop-color:rgba(64, 191, 64, 0.5);" /%3E%3Cstop offset="100%" style="stop-color:rgba(159, 223, 159, 0.5);" /%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x="0" width="13.3148404993%" height="100%"/%3E%3Crect x="17.3370319001%" width="13.3148404993%" height="100%"/%3E%3Crect x="34.6740638003%" width="13.3148404993%" height="100%"/%3E%3Crect x="52.0110957004%" width="13.3148404993%" height="100%"/%3E%3Crect x="69.3481276006%" width="13.3148404993%" height="100%"/%3E%3Crect x="86.6851595007%" width="13.3148404993%" height="100%"/%3E%3C/svg%3E') no-repeat scroll;
  }
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.mobile-only {
  display: none;
}
@media only screen and (max-width: 768px) {
  .mobile-only {
    display: block;
  }
}

.header__content {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: grey;
  position: fixed;
  height: 144px;
  z-index: 2;
  top: 0;
}

.menu__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 100%;
}

.main-logo {
  max-width: 278px;
  width: 100%;
  height: 86px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.main-logo img {
  height: 100%;
}

.contact--link {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.nav-wrapper {
  height: auto;
  position: relative;
  left: 0;
  max-width: 100%;
  width: 100%;
  transform: translateY(-69px);
  transition: all 0.5s ease-in-out;
  background-color: lightgrey;
  z-index: -1;
  opacity: 0;
}

.active .nav-wrapper {
  transform: translateY(0px);
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.menu__list {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}

.menu__list li {
  list-style: none;
  padding: 25px 0;
}

.menu__list li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.menu__list li a {
  color: #4D4D4D;
  font-family: "Montserrat";
  font-size: 15px;
  letter-spacing: 0.35px;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.site__burger-menu {
  display: inline-block;
  width: 52px;
  height: 80px;
  position: relative;
  top: 28px;
  right: 15px;
  z-index: 2;
}
.site__burger-menu .burger-menu__wrapper {
  position: relative;
  top: 40px;
  right: 0px;
  width: 34px;
  height: 20px;
  margin-left: 16px;
  transform: translateY(-50%);
  cursor: pointer;
}
.site__burger-menu .burger-menu__wrapper .burger-menu__line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  transition: all 0.2s ease;
  transform: translateY(-50%);
  background-color: #4D4D4D;
  border-radius: 50px;
  z-index: 1;
}
.site__burger-menu .burger-menu__wrapper .burger-menu__line:first-child {
  top: 0%;
}
.site__burger-menu .burger-menu__wrapper .burger-menu__line:nth-child(2) {
  top: 50%;
}
.site__burger-menu .burger-menu__wrapper .burger-menu__line:last-child {
  top: 100%;
}
.site__burger-menu .burger-menu__wrapper.cross .burger-menu__line:first-child {
  top: 45%;
  transform: rotate(45deg);
}
.site__burger-menu .burger-menu__wrapper.cross .burger-menu__line:nth-child(2) {
  display: none;
}
.site__burger-menu .burger-menu__wrapper.cross .burger-menu__line:last-child {
  top: 45%;
  transform: rotate(-45deg);
}

/*
#site-footer {

}
*/
.cta {
  font-family: "Montserrat";
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.7px;
  border: 2px solid #cba755;
  color: #cba755;
  padding: 17px 32px 19px;
}

.presentation {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.presentation__logo {
  max-width: 625px;
  margin: auto;
}

.logo__title-container {
  display: flex;
  justify-content: space-between;
}

.logo__logo-text {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-top: 40px;
  color: #4d4d4d;
}

.presentation__address {
  margin-top: 22vh;
  font-family: "Chaparral Pro";
  font-style: italic;
  letter-spacing: 0.6px;
  color: #4d4d4d;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
}

.presentation__arrow {
  text-align: center;
  transform: rotate(-90deg);
  margin-top: 4vh;
  margin-bottom: 4vh;
  font-size: 3em;
  font-family: "Chaparral Pro";
  cursor: pointer;
}

.banner {
  position: relative;
  margin-bottom: 137px;
}

.banner__image {
  background-size: cover;
}

.banner__title {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 33px;
  margin: 25px auto;
  color: #4d4d4d;
}
.banner__title:after {
  content: "";
  position: absolute;
  height: 2px;
  max-width: 40.7%;
  width: 100%;
  background-color: #4D4D4D;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.banner__subtitle {
  font-family: "Chaparral Pro";
  font-style: italic;
  font-weight: normal;
  font-size: 28px;
  letter-spacing: 0.3px;
  line-height: 42px;
  margin: 54px 0 28px;
  text-align: right;
  position: relative;
}
.banner__subtitle:before {
  content: "";
  position: absolute;
  height: 2px;
  max-width: 40.7%;
  width: 100%;
  background-color: #4D4D4D;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.banner__description {
  font-family: "Chaparral Pro";
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 28px;
  margin-bottom: 47px;
}

.banner__cta-wrapper {
  text-align: center;
}

.content--layout-left {
  flex-flow: row wrap;
  position: relative;
  display: flex;
  align-items: center;
}

.content--layout-right {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row-reverse wrap;
}

.images {
  max-width: 48.5%;
  width: 100%;
}

.images__image {
  height: 500px;
  background-size: cover;
  background-position: center center;
}

.content__text-part {
  max-width: 47%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.text-part__title {
  font-family: "Chaparral Pro";
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 26px;
  margin: 54px 0 28px;
  text-align: center;
  position: relative;
  color: #cba755;
}

.text-part__container {
  max-width: 450px;
  text-align: justify;
}

.text-part__description {
  font-family: "Chaparral Pro";
  font-weight: normal;
  font-size: 19px;
  letter-spacing: 0.3px;
  line-height: 22px;
  margin: 54px 0 28px;
  position: relative;
  color: #4D4D4D;
  max-width: 450px;
  text-align: justify;
}

.text-part__more-text {
  font-family: "Chaparral Pro";
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 26px;
  margin: 54px 0 28px;
  position: relative;
  color: #cba755;
}


/*# sourceMappingURL=style.css.map*/