<div class="header__content">
    <div class="header-content__wrapper">
        <div class="main-wrapper menu__container">
            <div class="site__burger-menu">
                <div class="burger-menu__wrapper">
                    <span class="burger-menu__line"></span>
                    <span class="burger-menu__line"></span>
                    <span class="burger-menu__line"></span>
                </div>
            </div>
            <div class='main-logo'>
                <a class='logo--link' href='{{ site.url }}'>
                    {{ logo }}
                </a>
            </div>
            <div class='contact-logo'>
                <a class='contact--link' href='{{ contact.url }}' target="{{ contact.target }}">
                    <div class="contact-image"></div>
                </a>
            </div>
        </div>
    </div>
    
    <div class="nav-wrapper">
        <nav class="header__nav">
            {% include "partial/menu.twig" with {'items': menu_header.get_items} %}
        </nav>
    </div>
</div>

