@font-face {
    font-family: "Chaparral Pro";
    src: url("../../../assets/fonts/ChaparralPro-Regular.eot");
    src: url("../../../assets/fonts/ChaparralPro-Regular.eot?#iefix") format("embedded-opentype"),
        url("../../../assets/fonts/ChaparralPro-Regular.woff2") format("woff2"),
        url("../../../assets/fonts/ChaparralPro-Regular.woff") format("woff"),
        url("../../../assets/fonts/ChaparralPro-Regular.ttf") format("truetype"),
        url("../../../assets/fonts/ChaparralPro-Regular.svg#ChaparralPro-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
