// DOM
$gridSize: 1100px;
$gridSizeLarge: 1600px;

// Font
$baseFontSize: 14;
$baseFontSizePx: 14px;

// Colors
$black: #000000;
$white: #ffffff;
// textes et bordures
$text: #4D4D4D;
// Titres et blockquotes
$gold: #cba755;