.banner {
    position: relative;
}

.banner__image {
    width: 100%;
    position: aboslute;
    top: 100px;
    left: 0;
}

.banner__title {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    margin-top: 40px;
    color: #4d4d4d;
}
