.banner {
    position: relative;
}

.banner__image {
    // width: 100%;
    // position: aboslute;
    // top: 100px;
    // left: 0;
    background-size: cover;
}

.banner__title {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    margin: 25px 0 ;
    color: #4d4d4d;

}
.banner__subtitle{
    font-family: 'Chaparral Pro';
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.3px;
    line-height: 42px;
    margin: 54px 0 20px;
}
.banner__description{
    font-family: 'Chaparral Pro';
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.3px;
    line-height: 28px;
}
