.banner {
    position: relative;
    margin-bottom:137px;
}

.banner__image {
    // width: 100%;
    // position: aboslute;
    // top: 100px;
    // left: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner__title {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 33px;
    margin: 25px auto;
    color: #4d4d4d;
    position: relative;

    &:after{
        content: '';
        position: absolute;
        height: 2px; 
        max-width: 40.7%;
        width: 100%;
        background-color: $text;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}   
.banner__subtitle{
    font-family: 'Chaparral Pro';
    font-style: italic;
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 0.3px;
    line-height: 42px;
    margin: 54px 0 28px;
    text-align: right;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        height: 2px;       
        max-width: 40.7%;
        width: 100%;
        background-color: $text;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
.banner__description{
    font-family: 'Chaparral Pro';
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.6px;
    line-height: 28px;
    margin-bottom: 47px;
}
.banner__cta-wrapper{
    text-align: center;
}
@media screen and  (max-width: 1300px){
    .banner__title {
       
        &:after{
            max-width: 25%;
        }
    }
    .banner__subtitle{
        &:before{
            max-width: 25%;
        }
    }
}

@media screen and  (max-width: 1019px){
    .banner__title {
        margin: 25px 24px;
    }
}
@media screen and  (max-width: 900px){
    .banner__title {
       
        &:after{
            max-width: 15%;
        }
    }
    .banner__subtitle{
        &:before{
            max-width: 15%;
        }
    }
}
@media screen and  (max-width: 785px){

    .banner__title {
        text-align: center;

        &:after{
            max-width: 15%;
            top: initial;
            bottom: -15px;
            left: 50%;
            right: initial;
            transform: translateX(-50%);
        }
    }
    .banner__subtitle{
        text-align: center;
        margin: 23px 0 28px;
        &:before{
            max-width: 15%;
            top: initial;
            bottom: -15px;
            right: 50%;
            left: initial;
            transform: translateX(50%);
        }
    }
}
@media screen and  (max-width: 375px){
    .banner__title {
        margin: 25px auto;
    }
}