.content--layout-left{
    flex-flow: row wrap;
    position: relative;
    display: flex;
    align-items: center;
}
.content--layout-right{
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: row-reverse wrap;
}
.images{
    max-width: 48.5%;
    width: 100%;
}
.images__image{
    height: 500px;
    background-size: cover;
    background-position: center center;
}
.content__text-part{
    max-width: 47%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.text-part__title{
    font-family: 'Chaparral Pro';
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.3px;
    line-height: 26px;
    margin: 54px 0 28px;
    text-align: center;
    position: relative;
    color: $gold;
}
.text-part__container{
    max-width: 450px;
    text-align: justify;
}
.text-part__description{
    font-family: "Chaparral Pro";
    font-weight: normal;
    font-size: 19px;
    letter-spacing: 0.3px;
    line-height: 22px;
    margin: 54px 0 28px;
    position: relative;
    color: $text;
    max-width: 450px;
    text-align: justify;
}
.text-part__more-text{
    font-family: 'Chaparral Pro';
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.3px;
    line-height: 26px;
    margin: 54px 0 28px;
    position: relative;
    color: $gold;
}
