.contact{
    padding-top: 71px;
}
.contact-container{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.contact__image-block{
    max-width:541px;
    width:100%;
}
.contact__image{
    max-width:541px;
    width:100%;
    height:335px;
    background-size: cover;
    background-position: center center;
}
.contact-form{
    max-width: 45%;
    width: 100%;
}
.acdm-form {
    color: $text;
    display: -webkit-box;
    display: flex;
    flex-flow: column wrap;
    letter-spacing: .4px;

    .form-input__wrapper {
        position: relative;
        width: 100%;
        height: 50px;
        margin-bottom: 15px;
        padding: 12px 0;
    }

    .form-input__label {
        position: absolute;
        left: 0;
        top: 15px;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'Montserrat';
        -webkit-transition: .3s ease;
        transition: .3s ease;
    }

    .form-input {
        outline: none;
        width: 100%;
        border: none;
        border-bottom: 1px solid #000;
        height: 100%;
        font-size: 14px;
        font-family: 'Montserrat';

        &:focus,
        &.not-empty {
            + label {
                font-size: 20px;
                color: $gold;
                -webkit-transform: translateY(-120%);
                        transform: translateY(-120%);
            }
        }
    }

    .form-textarea__wrapper {
    
        position: relative;
        width: 100%;
        height: 50px;
        margin-bottom: 30px;
        margin-top: 47px;
        .form-input__label{
            position: absolute;
            left: 0;
            top: -15px;
            font-size: 14px;
            text-transform: uppercase;
            font-family: 'Montserrat';
            -webkit-transition: .3s ease;
            transition: .3s ease;
        }
        textarea {
            width: 100%;
            border: 1px solid $text;
            resize: auto;
            padding:10px;
            height: 100px;
            font-size: 14px;
            font-family: 'Montserrat';
            outline: none;
            &:focus,
            &.not-empty {
                + label {
                    font-size: 20px;
                    color: $gold;
                    -webkit-transform: translateY(-100%);
                            transform: translateY(-100%);
                }
            }
        }
    }

    .cta-wrapper {
        text-align: right;
        margin-top: 55px;
        
        .cta {
            min-width: 230px;
        }
    }

    .error {
        border-color: red !important;
    }
}
@media screen and (max-width: 1060px) {
    .contact__image-block{
        max-width: 475px;
    }
    .contact__image{
        max-width: 475px;
    }
}
@media screen and (max-width: 1023px) {
    .fdv-form {
        .form-input__wrapper {
            width: 100%;
        }
    }
}
@media screen and (max-width: 925px) {
    .contact__image-block{
        max-width: 405px;
    }
    .contact__image{
        max-width: 405px;
    }
}
@media screen and (max-width: 798px) {
    .contact-container{
        flex-flow: column-reverse wrap;
    }
    .contact-form {
        max-width: 100%;
        width: 100%;
    }
    .contact__image-block{
        margin-top: 30px;
        max-width: 100%;
    }
    .contact__image{
        max-width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .contact-modal .modal-container {
        padding: 30px;
    }
}