.content {
    padding-top: 127px;
    padding-bottom: 127px;
    position: relative;
    &:after {
        position: absolute;
        content: "";
        height: 30px;
        max-width: 150px;
        width: 100%;
        background-image: url("../../assets/images/separateur.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
}
.images {
    max-width: 48.5%;
    width: 100%;
    position: absolute;
    text-align: center;
}
.images__image {
    height: 500px;
    background-size: cover;
    background-position: center center;
}
img.images__image {
    height: 500px;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.content__text-part-wrapper {
    min-height: 500px;
}
.content--layout-left {
    flex-flow: row wrap;
    position: relative;
    display: flex;
    align-items: center;
    .content__text-part-wrapper {
        display: flex;
        width: 100%;
        flex-flow: row-reverse wrap;
    }
}
.content--layout-right {
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: row-reverse wrap;
    .content__text-part-wrapper {
        display: flex;
        width: 100%;
    }
}
.text-part__title {
    font-family: "Chaparral Pro";
    font-style: italic;
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 0.3px;
    line-height: 26px;
    margin: 54px 0 28px;
    text-align: center;
    position: relative;
    color: #4d4d4d;
}
.text-part__container {
    max-width: 450px;
    text-align: justify;
}
.text-part__description {
    font-family: "Chaparral Pro";
    font-weight: normal;
    font-size: 19px;
    letter-spacing: 0.3px;
    line-height: 22px;
    margin: 54px 0 28px;
    position: relative;
    color: $text;
    max-width: 450px;
    text-align: justify;
}
.text-part__more-text {
    font-family: "Chaparral Pro";
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.3px;
    line-height: 26px;
    margin: 54px 0 28px;
    position: relative;
    color: $text;
    text-align: right;
}
.text-part__container {
    .swiper-pagination {
        margin-top: 0;
    }
}
.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border: 2px solid $gold;
    display: inline-block;
    border-radius: 100%;
    background: transparent;
    margin-right: 10px;
    outline: none;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.swiper-pagination-bullet-active {
    background: $gold;
    outline: none;
}

@media screen and (max-width: 960px) {
    .content__text-part {
        max-width: 350px;
        width: 100%;
    }

    .text-part__container {
        .swiper-pagination {
            transform: translateX(0);
        }
    }
}

@media screen and (max-width: 768px) {
    .content {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .content__text-part-wrapper {
        min-height: auto;
    }
    .content--layout-left {
        flex-flow: column wrap;
        .content__text-part-wrapper {
            display: flex;
            width: 100%;
            flex-flow: row-reverse wrap;
            .swiper-pagination {
                top: 0;
                transform: translateX(-50%);
                left: 50%;
            }
        }
    }
    .content--layout-right {
        flex-flow: column-reverse wrap;
        .content__text-part-wrapper {
            display: flex;
            width: 100%;
            .swiper-pagination {
                bottom: 0;
                transform: translateX(-50%);
                left: 50%;
            }
        }
    }
    .images {
        max-width: 100%;
        width: 100%;
        position: relative;
    }
    .content__text-part {
        max-width: 100%;
        .text-part__container {
            max-width: 100%;
            .text-part__description {
                margin: 0;
                padding: 54px 0px 28px 0;
                position: relative;
                color: #4d4d4d;
                max-width: 100%;
                text-align: justify;
            }
        }
    }
}
