.presentation {
    height: 75vh;
    display: flex;
    flex-direction: column;
}

.presentation__logo {
    max-width: 625px;
    // margin: auto;
    margin: 99px auto 0;
}
.logo__title-container {
    display: flex;
    justify-content: space-between;
}

.logo__logo-text {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    margin-top: 40px;
    color: #4d4d4d;
    cursor: default;
}

.presentation__address {
    margin-top: 19.2vh;
    font-family: "Chaparral Pro";
    font-style: italic;
    letter-spacing: 0.6px;
    color: #4d4d4d;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}

.presentation__arrow {
    text-align: center;
    transform: rotate(-90deg);
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-size: 3em;
    font-family: "Chaparral Pro";
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: rotate(-90deg) translateY(-50%);
    bottom: -30px;
    animation: 3s linear 1s infinite alternate slidein;
}
@media screen and (max-width: 665px){
    .logo__logo-text{
        max-width: 180px;
        line-height: 20px;
        text-align: center;
    }
}
@media screen and (max-width: 400px){
    .logo__title-container{
        flex-flow: column wrap;
        
    }
    .logo__logo-text{
        max-width: 100%;
        width: 100%;
        font-size: 14px;
    }
    .logo-text--right{
        margin-top: 15px;
    }
}