.presentation {
    height: 75vh;
    display: flex;
    flex-direction: column;
}

.presentation__logo {
    max-width: 625px;
    // margin: auto;
    margin: auto;
    text-align: center;
    img {
        // max-width: 94%;
    }
}
.logo__title-container {
    display: flex;
    justify-content: space-between;
}

.logo__logo-title {
    font-size: 38px;
    letter-spacing: 5px;
    color: #cba755;
    font-weight: 500;
    background-color: white;
    position: absolute;
    top: 150px;
    text-align: center;
    margin: auto;
    width: 100%;
}

.logo__logo-text {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    margin-top: 40px;
    color: #4d4d4d;
    cursor: default;
}

.presentation__address {
    margin-top: 19.2vh;
    font-family: "Chaparral Pro";
    font-style: italic;
    letter-spacing: 0.6px;
    color: #4d4d4d;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}

.presentation__arrow {
    text-align: center;
    font-size: 3em;
    font-family: "Chaparral Pro";
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: rotate(-90deg) translateY(-50%) translateX(10vh);
    -webkit-animation: infiniteLoop 1s infinite alternate;
    animation: infiniteLoop 1s infinite alternate;
}
@-webkit-keyframes infiniteLoop {
    from {
        bottom: 0px;
    }
    to {
        bottom: -20px;
    }
}
@keyframes infiniteLoop {
    from {
        bottom: 0px;
    }
    to {
        bottom: -20px;
    }
}
@media screen and (max-width: 665px) {
    .logo__logo-text {
        max-width: 180px;
        line-height: 20px;
        text-align: center;
    }
}
@media screen and (max-width: 400px) {
    .logo__title-container {
        flex-flow: column wrap;
    }
    .logo__logo-text {
        max-width: 100%;
        width: 100%;
        font-size: 14px;
    }
    .logo-text--right {
        margin-top: 15px;
    }
}

.logo__first-title-container {
    position: relative;
}

.logo__logo-first-title {
    font-size: 38px;
    letter-spacing: 5px;
    color: #cba755;
    font-weight: 500;
    position: absolute;
    top: 124px;
    width: 100%;
    background-color: white;
}
