.watches__title{
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 33px;
    margin: 25px auto;
    color: #4d4d4d;
  
    &:after{
        content: '';
        position: absolute;
        height: 2px; 
        max-width: 40.7%;
        width: 100%;
        background-color: #4d4d4d;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.watches__subtitle{
    font-family: 'Chaparral Pro';
    font-style: italic;
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 0.3px;
    line-height: 42px;
    margin: 54px 0 28px;
    text-align: right;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        height: 2px;       
        max-width: 40.7%;
        width: 100%;
        background-color: #4d4d4d;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
.watches__content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.watch{
    max-width: 307px;
    width: 100%;
    margin-top: 40px ;
}
.watch__image{
    img{
        max-width: 305px;
        width: 100%;
        height: 305px;
        object-fit: cover;
    }
}
.watch__title{
    font-family: "Montserrat";
    font-size: 20px;
    font-style: italic;
    letter-spacing: .3px;
    margin-top: 18px;
}
.watch__price{
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: normal;
    letter-spacing: .3px;
    margin-top: 18px;
}

// SLIDER
.watches{
    .swiper-container{
        margin-top: 23px;
    }
}
.swiper-wrapper{
    height: 250px;
}
.slide--watch__image{
    max-width: 170px;
    width: 100%;
    img{
        height: 170px;
        object-fit: cover;
    }
}
.swiper-slide{
    width: auto;
    .watch__title{
        font-family: 'Chaparral Pro';
        font-size: 20px;
        font-style: italic;
        letter-spacing: .3px;
        margin-top: 15px;
    }
    .watch__price{
        font-family: "Montserrat";
        font-size: 15px;
        font-weight: 500;
        letter-spacing: .3px;
        margin-top: 5px;
    }
}
.button--container{
    position: absolute;
    max-width: 1240px;
    width: 100%;
    top: 27%;
    text-align: center;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    height: 60px;
    z-index: 0;
    .swiper-button-prev, .swiper-button-next{
        outline: none;
        &:after{
            content: none;
            font-size: 27px;
        }
    }
    .swiper-button-prev{
        background-image: url('../../assets/images/prev.png');
        background-size: cover;
        background-position: center center;
        height: 27px;
        width: 27px;
        left: -60px;
    }
    .swiper-button-next{
         background-image: url('../../assets/images/next.png');
         background-size: cover;
         background-position: center center;
         height: 27px;
         width: 27px;
         right: -60px;
    }
}
.watches__cta-wrapper{
    text-align: center;
    margin-top: 50px;
}
@media screen and (max-width: 1300px){
    .watches__title{
        &:after{
            max-width: 24.7%;
        }
    }
    .watches__subtitle{
        &:before{
            max-width: 24.7%;  
        }
    }
}
@media screen and  (max-width: 1019px){
    .watches__title {
        margin: 25px 24px;
    }
}
@media screen and (max-width: 1020px){
    .watch__image img {
        max-width: 250px;
        height: 250px;
    }
}
@media screen and (max-width: 871px){
    .watches__title{
        &:after{
            max-width: 15%;
        }
    }
    .watches__subtitle{
        &:before{
            max-width: 15%;  
        }
    }
}
@media screen and (max-width: 780px){
    .watches__title{
        text-align: center;
        &:after{
            max-width: 15%;
            top: initial;
            bottom: -15px;
            left: 50%;
            right: initial;
            transform: translateX(-50%);
        }
    }
    .watches__subtitle{
        text-align: center;
        &:before{
            max-width: 15%;
            top: initial;
            bottom: -15px;
            right: 50%;
            left: initial;
            transform: translateX(50%);
        }
    }
}
