.watches__title {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 33px;
    margin: 25px auto 35px;
    color: #4d4d4d;

    &:after {
        content: "";
        position: absolute;
        height: 2px;
        max-width: 40.7%;
        width: 100%;
        background-color: #4d4d4d;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.watches__subtitle {
    font-family: "Chaparral Pro";
    font-style: italic;
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 0.3px;
    line-height: 42px;
    margin: 54px 0 28px;
    text-align: right;
    position: relative;
    display: flex;
    justify-content: flex-end;
    &:before {
        content: "";
        position: absolute;
        height: 2px;
        max-width: 38%;
        width: 100%;
        background-color: #4d4d4d;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.watches__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.watch {
    max-width: 305px;
    width: 100%;
    margin-top: 40px;
    &:hover {
        .watch__image {
            max-width: 305px;
            width: 100%;
            height: 305px;
            overflow: hidden;
            img {
                max-width: 305px;
                width: 100%;
                height: 305px;
                -o-object-fit: cover;
                object-fit: cover;
                font-family: "object-fit: cover;";
                transform: scale(1.1);
                transition: transform 0.3s ease-in-out;
            }
        }
        .watch__title {
            color: $gold;
            transition: color 0.3s ease-in-out;
        }
        .watch__price {
            color: $gold;
            transition: color 0.3s ease-in-out;
        }
    }
}
.watch__image {
    max-width: 305px;
    width: 100%;
    height: 305px;
    overflow: hidden;
    img {
        max-width: 305px;
        width: 100%;
        height: 305px;
        -o-object-fit: cover;
        object-fit: cover;
        font-family: "object-fit: cover;";
        transform: scale(1);
        transition: transform 0.3s ease-in-out;
    }
}
.watch__title {
    font-family: "Montserrat";
    font-size: 20px;
    font-style: italic;
    letter-spacing: 0.3px;
    margin-top: 18px;
    transition: color 0.3s ease-in-out;
}
.watch__price {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.3px;
    margin-top: 18px;
    transition: color 0.3s ease-in-out;
}

// SLIDER
.watches {
    .swiper-container {
        margin-top: 23px;
    }
}
.swiper-wrapper {
    height: auto;
}
.slide--watch__image {
    max-width: 220px;
    width: 100%;
    img {
        height: 220px;
        -o-object-fit: cover;
        object-fit: cover;
        font-family: "object-fit: cover;";
    }
}
.swiper-slide {
    width: auto;
    .watch__title {
        font-family: "Montserrat";
        font-size: 19px;
        font-style: italic;
        letter-spacing: 0.3px;
        margin-top: 15px;
    }
    .watch__price {
        font-family: "Montserrat";
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.3px;
        margin-top: 5px;
    }
}
.button--container {
    position: absolute;
    max-width: 1240px;
    width: 100%;
    top: 27%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    z-index: 0;
    .swiper-button-prev,
    .swiper-button-next {
        outline: none;
        &:after {
            content: none;
            font-size: 27px;
        }
    }
    .swiper-button-prev img,
    .swiper-button-next img {
        width: 20px;
        left: -60px;
        position: relative;
    }
    .swiper-button-next img {
        right: -60px;
        left: inherit;
        transform: rotate(-180deg);
    }
}
.watches__cta-wrapper {
    text-align: center;
    margin-top: 50px;
}
@media screen and (max-width: 1300px) {
    .watches__title {
        &:after {
            max-width: 24.7%;
            right: 30px;
        }
    }
    .watches__subtitle {
        &:before {
            max-width: 24.7%;
        }
    }
}
@media screen and (max-width: 1020px) {
    .watch {
        width: 270px;
        &:hover {
            .watch__image {
                max-width: 250px;
                height: 250px;
                img {
                    max-width: 250px;
                    height: 250px;
                }
            }
        }
    }
    .watches__title,
    .banner__title {
        margin: 25px auto 50px;
        &:after {
            right: 0;
        }
    }
    .watches__subtitle {
        &:before {
            left: 30px;
        }
    }
    .watch__image {
        max-width: 250px;
        height: 250px;
        img {
            max-width: 250px;
            height: 250px;
        }
    }
}

@media screen and (max-width: 875px) {
    .watches__title {
        &:after {
            max-width: 15%;
        }
    }
    .watches__subtitle {
        &:before {
            max-width: 15%;
        }
    }

    .watch {
        width: 210px;
        &:hover {
            .watch__image {
                max-width: 205px;
                height: 205px;
                img {
                    max-width: 205px;
                    height: 205px;
                }
            }
        }
    }
    .watch__image {
        max-width: 205px;
        height: 205px;
        img {
            max-width: 205px;
            height: 205px;
        }
    }
}
@media screen and (max-width: 810px) {
    .watches__title {
        &:after {
            max-width: 10%;
        }
    }
    .watches__subtitle {
        &:before {
            max-width: 10%;
        }
    }
}
@media screen and (max-width: 780px) {
    .watches__title {
        text-align: center;
        &:after {
            max-width: 15%;
            top: initial;
            bottom: -25px;
            left: 50%;
            right: initial;
            transform: translateX(-50%);
        }
    }
    .watches__subtitle {
        text-align: center;
        &:before {
            max-width: 15%;
            top: initial;
            bottom: -15px;
            right: 50%;
            left: initial;
            transform: translateX(50%);
        }
    }
}
@media screen and (max-width: 676px) {
    .watch {
        width: 180px;
        &:hover {
            .watch__image {
                max-width: 180px;
                height: 180px;
                img {
                    max-width: 180px;
                    height: 180px;
                }
            }
        }
    }
    .watch__image {
        max-width: 180px;
        height: 180px;
        img {
            max-width: 180px;
            height: 180px;
        }
    }
}
@media screen and (max-width: 597px) {
    .watch {
        width: 250px;
        &:hover {
            .watch__image {
                max-width: 250px;
                height: 250px;
                img {
                    max-width: 250px;
                    height: 250px;
                }
            }
        }
    }
    .watch__image {
        max-width: 250px;
        height: 250px;
        img {
            max-width: 250px;
            height: 250px;
        }
    }
}
@media screen and (max-width: 557px) {
    .watch {
        width: 220px;
        &:hover {
            .watch__image {
                max-width: 220px;
                height: 220px;
                img {
                    max-width: 220px;
                    height: 220px;
                }
            }
        }
    }
    .watch__image {
        max-width: 220px;
        height: 220px;
        img {
            max-width: 220px;
            height: 220px;
        }
    }
}
@media screen and (max-width: 480px) {
    .watch {
        width: 180px;
    }
    .watch__image img {
        max-width: 180px;
        height: 180px;
    }
}
@media screen and (max-width: 400px) {
    .watch {
        width: 49%;
    }
    .watch__image img {
        max-width: 180px;
        height: 180px;
    }
}
@media screen and (max-width: 375px) {
    .watches__content {
        justify-content: center;
    }
    .watch {
        width: 100%;
        &:hover {
            .watch__image {
                max-width: 100%;
                height: auto;
                img {
                    max-width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .watch__image {
        max-width: 100%;
        height: auto;
        img {
            max-width: 100%;
            height: 100%;
        }
    }
}
