.watches__title{
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 33px;
    margin: 25px auto;
    color: #4d4d4d;
    &:after{
        content: '';
        position: absolute;
        height: 2px; 
        max-width: 40.7%;
        width: 100%;
        background-color: #4d4d4d;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.watches__subtitle{
    font-family: 'Chaparral Pro';
    font-style: italic;
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 0.3px;
    line-height: 42px;
    margin: 54px 0 28px;
    text-align: right;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        height: 2px;       
        max-width: 40.7%;
        width: 100%;
        background-color: #4d4d4d;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}