.same-spirit {
	margin-top: 2.5rem;
}
.same-spirit__title {
	font-weight: bold;
	margin: 3rem 1rem 1rem 0;
}
.same-spirit__card {
	text-align: center;
}
.same-spirit__img {
	width: 100%;
	height: 220px;
	object-fit: cover;
	border-radius: 8px;
}
.same-spirit__name {
	display:block;
	margin-top:.5rem;
	font-size:.95rem;
}

.same-spirit__carousel swiper-container .swiper-slide {
	flex-shrink: 0 !important;
	width: 50% !important;
	margin-right: 1em !important;
}
