.not-found {
    position: relative;
    background-size: cover;
    background-position: center center;
}
.not-found--container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:9vh;
}
.not-found__text-wrapper{
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba( #fff, .7);
    padding: 18px 8px;

}
.brand--container{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    img{
        height: 100%;
    }
}
.not-found-title{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 60px;
    line-height: 54px;
    font-weight: 600;
}
.not-found-description{
    text-align: center;
    max-width: 450px;
    width: 100%;
    margin: 20px auto;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
}
.cta--container{
    text-align:center;
    margin: 20px auto;
}
/********* MEDIA QUERIES 404 *********/ 
@media screen and (max-width : 538px ){
    .not-found__text-wrapper{
        border-radius: 0;
    }
    .not-found-title{
        font-size: 47px;
    }
}

@media screen and (max-width : 374px ){
    .not-found--container {
        top: 5vh;
    }
}
@media screen and (max-height : 688px ){
    .not-found--container {
        top: 5vh;
    } 
}
@media screen and (max-width : 374px ) and (max-height : 725px ){
    .not-found--container {
        top: 3vh;
    } 
}
@media screen and (max-width : 374px ) and (max-height : 699px ){
    .not-found--container {
        top: 1vh;
    } 
}
@media screen and (max-width : 374px ) and (max-height : 678px ){
    .not-found--container {
        top: 0;
    } 
}
@media screen and (max-width : 374px ) and (max-height : 666px ){
    .not-found-title{
        margin: 0.67em 0;
    }
}
@media screen and (max-width : 374px ) and (max-height : 620px ){
    .not-found-title{
        margin: 0.29em 0;
    }
}
@media screen and (max-width : 374px ) and (max-height : 568px ){
    .not-found-title{
        margin: 0.59em 0;
        font-size: 43px;
    }
}