.cta {
    font-family: "Montserrat";
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.7px;
    border: 2px solid #cba755;
    color: #cba755;
    padding: 17px 32px 19px;
    position: relative;
    -webkit-transition: color .45s cubic-bezier(.19,1,.22,1);
    transition: color .45s cubic-bezier(.19,1,.22,1);
    overflow: hidden;
    background-color: transparent;
    outline: none;

    &:before{
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: $gold;
        left: -1px;
        right: 0;
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        -webkit-transition: -webkit-transform .45s cubic-bezier(.19,1,.22,1);
        transition: -webkit-transform .45s cubic-bezier(.19,1,.22,1);
        transition: transform .45s cubic-bezier(.19,1,.22,1);
        transition: transform .45s cubic-bezier(.19,1,.22,1), -webkit-transform .45s cubic-bezier(.19,1,.22,1);
        z-index: -1;
    }
    &:hover{
        color: white;
        &:before{
            -webkit-transform: translateX(0);
                    transform: translateX(0);
            -webkit-transition: -webkit-transform .45s cubic-bezier(.19,1,.22,1);
            transition: -webkit-transform .45s cubic-bezier(.19,1,.22,1);
            transition: transform .45s cubic-bezier(.19,1,.22,1);
            transition: transform .45s cubic-bezier(.19,1,.22,1), -webkit-transform .45s cubic-bezier(.19,1,.22,1);
        }
    }
}
.cta--watches{
    padding: 16px 45px 18px;
}
.fa-facebook-f, .fa-instagram{
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    &:hover{
        color: $gold;
        -webkit-transition: color .3s ease-in-out;
        transition: color .3s ease-in-out;
    }
}
.subfooter__copyright a {
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    &:hover{
        color: $gold;
        -webkit-transition: color .3s ease-in-out;
        transition: color .3s ease-in-out;
    }
}
.cta__interest{
    padding: 17px 21px 19px;
}
.cta__return{
    padding: 17px 61px 19px;
}