#site-footer {
    margin-top: 93px;
    padding-bottom: 0;
}

.footer__content {
    text-align: center;
}
.information,
.subfooter__copyright {
    font-family: "Chaparral Pro";
    font-weight: normal;
    font-style: italic;
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 20px;
    margin: 10px 0 17px;
    color: $text;
}
.subfooter {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.subfooter__media {
    max-width: 55px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .media__container {
        font-size: 24px;
        color: $text;
    }
}

.subfooter__copyright {
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    .subfooter {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    .subfooter__media {
        margin-bottom: 30px;
    }
}
