.home{
    .header__content{
        .main-logo{
            display: none;
        }
    }
}


.header__content {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    position: fixed;
    height: 144px;
    // overflow: hidden;
    z-index: 2;
    top: 0;
    &::after{
        content: "";
        position: absolute;
        background-color: rgba(#000000,.4);
        height: 0;
        width: 100vw;
        opacity: 0;
        transition: all .3s ease-in;
    }
       
}
.active{
    .header__content{

        &::after{
            height: 100vh;
            opacity: 1;
            transition: all .3s ease-in;
        }
    }
    .header-content__wrapper {
        box-shadow: 0px 2px 10px $text;
    }
    .nav-wrapper{
        transform: translateY(0px);
        transition: all .3s ease-in-out;
        opacity: 1;
    }
}

.header-content__wrapper {
    width: 100%;
    background-color:white;
    height: 100%;
}
.menu__container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100%;
}
.main-logo{
    max-width: 278px;
    width: 100%;
    height: 86px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    img{
        height: 100%;
    }
}
.contact--link{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.nav-wrapper {
    height: auto;
    position: relative;
    left: 0;
    max-width: 100%;
    width: 100%;
    transform: translateY(-69px);
    transition: all .3s ease-in-out;
    background-color: white;
    z-index: -1;
    opacity: 0;
}
.menu__list{
    padding: 0 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}
.menu__list li{
    list-style: none;
    padding: 25px 0;
}
.menu__list li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.menu__list li a{
    color: $text;
    font-family: 'Montserrat';
    font-size: 15px;
    letter-spacing: 0.35px;
    line-height: 19px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
// Menu BURGER
.site__burger-menu{
    display: inline-block;
    width: 52px;
    height: 80px;
    position: relative;
    top: 28px;
    right: 15px;
    z-index: 2;
    .burger-menu__wrapper{
        position: relative;
        top: 40px;
        right: 0px;
        width: 34px;
        height: 20px;
        margin-left: 16px;
        transform: translateY(-50%);
        cursor: pointer;
        .burger-menu__line{
            position: absolute;
            left: 0;
            width: 100%;
            height: 3px;
            transition: all 0.2s ease;
            transform: translateY(-50%);
            background-color: $text;
            border-radius: 50px ;
            z-index: 1;

            &:first-child{
                top: 0%;
            }
            &:nth-child(2){
                top: 50%;
            }
            &:last-child{
                top: 100%;
            }
        }
        &.cross{
            .burger-menu__line{

                &:first-child{
                    top: 45%;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    display: none;
                }
                &:last-child{
                    top: 45%;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
.no-scroll {
    overflow: hidden;
}
@media screen and (max-width: 768px){

    .home{
        .active{
            .header__content{
                .main-logo{
                    display: initial;
                }
            }
        }
    }
    .menu__list {
        
        padding: 60px 15px;
        flex-flow: column wrap;
        justify-content: initial;
        max-width: 1100px;
        height: 100vh;

        li{
            text-align: center;
            a{
                font-size: 25px;
            }
        }
    }

}
@media screen and (max-width: 414px){
    .main-logo {
        max-width: 193px;
        height: 58px;
    }
}

@media screen and (max-width: 330px){
    .main-logo {
        max-width: 168px;
        height: 51px;
    }
}