.home{
    .header__content{
        .main-logo{
           opacity: 0;
           transition: all .4s ease-in-out;
        }
    }
}


.header__content {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    position: fixed;
    height: 144px;
    // overflow: hidden;
    z-index: 2;
    top: 0;
    transition: all 0.4s ease-in-out;
    &::after{
        content: "";
        position: absolute;
        background-color: rgba(#000000,.4);
        height: 0;
        width: 100vw;
        opacity: 0;
        transition: all .3s ease-in;
    }
       
}
.active{
    .header__content{

        &::after{
            height: 100vh;
            opacity: 1;
            transition: all .5s ease-in;
            top: 159px;
            z-index: -2;
        }
    }
    .header-content__wrapper {
        box-shadow: 0px 2px 10px $text;
        transition: all .4s ease;
    }
    .nav-wrapper{
        transform: translateY(0px);
        transition: all .5s ease-in-out;
        opacity: 1;
    }
}



.header-content__wrapper {
    width: 100%;
    background-color:white;
    height: 100%;
    transition: all .4s ease;
}

.menu__container{
    height: 100%;
    text-align: center;
}
.main-logo{
    max-width: 100%;
    width: 100%;
    height: 86px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s ease-in-out;
    .logo--link{
        position: relative;
        img{
            height: 100%;
            width: auto;
        }
    }
}
.contact--link{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.nav-wrapper {
    height: auto;
    position: relative;
    left: 0;
    max-width: 100%;
    width: 100%;
    transform: translateY(-69px);
    transition: all .5s ease-in-out;
    background-color: white;
    z-index: -1;
    opacity: 0;
}
.menu__list{
    padding: 0 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}
.menu__list li{
    list-style: none;
    padding: 25px 0;
    position: relative;
    // &::after{
    //     content: '';
    //     transition: transform .2s ease-in-out;
    //     position: absolute;
    //     transform: scale(0,0);
    //     height: 5px;
    //     background-color: $gold;
    //     opacity: 0;
    //     max-width: 50%;
    //     width: 100%;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
        
    // }
    &:hover,
    &.current_page_item { 
        a{

            &::after {
                transform: scale(1,1);
                opacity: 1;
                transition: opacity .5s ease-in-out;
                max-width: 100%;
                width: 100%;
                margin: 0 auto;
                
                
            }
        }
    }

}
.menu__list li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.menu__list li a{
    color: $text;
    font-family: 'Montserrat';
    font-size: 15px;
    letter-spacing: 0.35px;
    line-height: 19px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    &::after{
        content: '';
        transition: transform .2s ease-in-out;
        position: absolute;
        transform: scale(0,0);
        height: 5px;
        background-color: $gold;
        opacity: 0;
        max-width: 50%;
        width: 100%;
        bottom: -27px;
        left: 0;
        right: 0;
        
    }
    &:hover,
    &.current_page_item { 
        
        &::after {
            transform: scale(1,1);
            opacity: 1;
            transition: opacity .5s ease-in-out;
            max-width: 100%;
            width: 100%;
            margin: 0 auto;
            
            @media screen and (max-width: 980px) {
                bottom: -18px;
            }
        }
    }

}
// Menu BURGER
.site__burger-menu{
    display: inline-block;
    width: 52px;
    height: 80px;
    position: relative;
    top: 28px;
    right: 15px;
    z-index: 2;
    transition: all .4s ease-in-out;
    float: left;
    .burger-menu__wrapper{
        position: relative;
        top: 40px;
        right: 0px;
        width: 34px;
        height: 20px;
        margin-left: 16px;
        transform: translateY(-50%);
        cursor: pointer;
        .burger-menu__line{
            position: absolute;
            left: 0;
            width: 100%;
            height: 3px;
            transition: all 0.2s ease;
            transform: translateY(-50%);
            background-color: $text;
            border-radius: 50px ;
            z-index: 1;

            &:first-child{
                top: 0%;
            }
            &:nth-child(2){
                top: 50%;
            }
            &:last-child{
                top: 100%;
            }
        }
        &.cross{
            .burger-menu__line{

                &:first-child{
                    top: 45%;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    display: none;
                }
                &:last-child{
                    top: 45%;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
.no-scroll {
    overflow: hidden;
}
.contact-logo{
    position: relative;
    top: 56px;
    right: 0px;
    z-index: 2;
    transition: all .4s ease-in-out;
    float: right;
}
.contact-image{
    background-image: url('../../assets/images/icon-mail.png');
    background-size: cover;
    background-position: center center;
    width: 32px;
    height: 24px;
}
// Style pour la home seulement 
.home{
    .sticky{
        .header__content{
            height: 90px;
            transition: all .4s ease-in-out;
            .site__burger-menu{
                top: 6px;
                transition: all .4s ease-in-out;
            }
            .main-logo{
                height: 64px;
                opacity: 1;
                transition: all .4s ease-in-out;
            }
            .contact-logo {

                transition: all .4s ease-in-out;
            }
        }
    }
}
.sticky{
    .header__content{
        height: 90px;
        transition: all .4s ease-in-out;
        box-shadow: 0px 2px 10px $text;
        .site__burger-menu{
            top: 6px;
            transition: all .4s ease-in-out;
        }
        .main-logo{
            height: 64px;
            opacity: 1;
            transition: all .4s ease-in-out;
        }
        .contact-logo {
            top: 33px;
            transition: all .4s ease-in-out;
        }
    }
}
@media screen and (max-width: 1300px){
    .main-logo {
        max-width: 95%;
    }
}
@media screen and (max-width: 768px){

    .menu__list {
        
        padding: 60px 15px;
        flex-flow: column wrap;
        justify-content: initial;
        max-width: 1100px;
        height: 100vh;

        li{
            text-align: center;
            a{
                font-size: 25px;
                line-height: 24px;
                &::after{
                    bottom: -15px;
                }
            }
        }
    }
    .nav-wrapper{
        transform: translateY(-100vh);
        transition: all .5s ease-in-out;
    }
}


@media screen and (max-width: 414px){
    .main-logo {
        height: 58px;
    }
}

@media screen and (max-width: 330px){
    .main-logo {
        height: 51px;
    }
}