.single-watches {
    .content-wrapper-desktop {
        display: flex;
    }
}

.content-wrapper-mobile {
    display: none;
}

.single__watches--container {
    flex-flow: row wrap;
    position: relative;
    display: flex;
    align-items: flex-start;

    .single__watches__text-part-wrapper {
        display: flex;
        width: 100%;
        flex-flow: row-reverse wrap;
        min-height: 600px;
    }
}
.single__watches__text-part {
    max-width: 454px;
    width: 100%;
}
.single__watches__title {
    font-family: "Montserrat";
    font-size: 30px;
    letter-spacing: 0.3px;
    line-height: 37px;
    color: $gold;
    text-transform: uppercase;
}
.single__watches__content {
    font-family: "Chaparral Pro";
    font-weight: normal;
    font-size: 19px;
    letter-spacing: 0.3px;
    line-height: 22px;
    margin: 54px 0 28px;
    position: relative;
    color: $text;
    max-width: 450px;
    text-align: justify;
}
.single__watches-images {
    max-width: 48.5%;
    width: 100%;
    // position: absolute;
    img {
        height: 600px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        font-family: "object-fit: cover; object-position: center;";
    }
}
.single__watches__button-container {
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
}

// SLIDER
.single__watches-images {
    .swiper-slide {
        height: 600px !important;
    }
}
.swiper-pagination {
    margin-top: 55px;
    z-index: 1;
}
.single-watches .desktop {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    position: relative;
    padding-top: 49px;

    .single__watches--container {
        max-width: 50%;
        width: 100%;
        position: relative;
        .single__watches-images {
            position: relative;
            max-width: 100%;
            img {
                height: 600px;
                -o-object-fit: cover;
                object-fit: cover;
                -o-object-position: center;
                object-position: center;
                font-family: "object-fit: cover; object-position: center;";
                margin-bottom: 39px;
            }
        }
    }
    .single__watches__text-part-wrapper {
        max-width: 48%;
        width: 100%;
        padding-left: 81px;
        position: fixed;
        position: -webkit-sticky;
        position: sticky;
        top: 144px;
        right: 22px;
        height: auto;

        // &.sticky{
        //     position: fixed;
        //     top: 144px;
        //     right: 22px;
        // //     transition: top .2s ease-in;
        // }
        .single__watches__text-part {
            max-width: 500px;
            width: 100%;
            // position: relative;
            // transition: top .3s ease-in;
            // top: 0;
        }
    }
    .pagination {
        display: flex;
        flex-flow: row wrap;
        margin-top: 56px;
        .pagination-bullet {
            border: 2px solid $gold;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin-right: 6px;
            cursor: pointer;

            &.active {
                background-color: $gold;
            }
        }
    }
}
@media screen and (max-width: 1015px) {
    .single-watches .desktop {
        .single__watches__text-part-wrapper {
            padding-left: 15px;
            &.sticky {
                right: 20px;
            }
            .single__watches__text-part {
                max-width: 500px;
                width: 100%;
                position: relative;
                // transition: top .3s ease-in;
                top: 0;
            }
        }
        .pagination {
            margin-top: 20px;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 890px) {
    .single-watches {
        .content-wrapper-desktop {
            display: none;
        }
        .content-wrapper-mobile {
            display: flex;
        }
    }
    .desktop {
        .single__watches__text-part {
            max-width: 345px;
        }
        .single__watches__button-container {
            align-items: center;
            flex-flow: column wrap;

            .cta {
                margin-bottom: 10px;
                max-width: 243px;
                width: 100%;
                text-align: center;
            }
        }
    }

    .mobile {
        .single__watches--container {
            flex-flow: column-reverse wrap;
            .single__watches__text-part-wrapper {
                min-height: 0;
            }
        }
        .single__watches-images {
            max-width: 100%;
            position: relative;
        }
        .single__watches__text-part {
            max-width: 100%;
        }
        .single__watches__content {
            margin: 0;
            max-width: 450px;
            text-align: justify;
            padding: 55px 0px 28px 0;
            max-width: 100%;
        }
        .single__watches__button-container {
            justify-content: flex-start;
            flex-flow: row wrap;
            padding-right: 30px;
            padding-bottom: 30px;

            .cta {
                margin-bottom: 10px;
                margin-right: 10px;
                max-width: 243px;
                width: 100%;
                text-align: center;
            }
        }
        .swiper-pagination {
            margin-top: 12px;
            transform: translateX(0%);
        }
    }
}
@media screen and (max-width: 535px) {
    .single__watches-images {
        .swiper-slide {
            height: 400px !important;
        }
    }
    .single__watches-images {
        img {
            height: 400px;
        }
    }
}
@media screen and (max-height: 730px) {
    .single-watches {
        .desktop {
            .single__watches__content {
                margin: 18px 0 18px;
            }
            .pagination {
                margin-top: 20px;
            }
        }
    }
}
